{% extends 'base.html' %}
{% block content %}
<h1>Posts</h1>
{% for post in Posts %}
    <p><a href="{% url 'userprofile:ProfileDetail' post.author.UserProfile.get.pk %}">@{{ post.author.username }}</a></p>

    {% if post.is_image %}
        <img src="{{ post.mediafile.url }}">
    {% endif %}

    {% if post.is_video %}
        <video autoplay controls width="640" height="360">
            <source src="{{ post.mediafile.url }}" type="video/mp4">
        </video>
    {% endif %}

    <p>{{ post.content }}</p>

    {% if post.link %}
        <p><a href="{{ post.link }}">клик</a></p>
    {% endif %}
{% empty %}
    <p>There are no available posts</p>
{% endfor %}
{% endblock %}