{% extends 'base.html' %}
{% block content %}
<h1>Search friends</h1>
<form method="get">
{% csrf_token %}
<input type="text" name="username" placeholder="Search" value="{{ request.GET.username }}">
<button type="submit">Search</button>
</form>
{% if profiles %}
<ul>
    {% for p in profiles%}
        <li>
            {% if p.avatar %}
            <img src="{{ p.avatar.url }}">
            {% endif %}
            <a href="{% url 'userprofile:ProfileDetail' p.pk %}">{{ p.nickname }}</a>
            <!-- <p>debug:{{request.user.UserProfile.get}}</p> -->
            <!-- <p>debug:{{p.followers.all}}</p> --> 
            <!-- {% if request.user.UserProfile.get in p.followers.all %} -->
            <!-- {% else %} -->
            <!-- {% endif %} -->
            <a href="{% url 'userprofile:UnfollowProfile' p.pk %}">unfollow</a>
            <a href="{% url 'userprofile:FollowProfile' p.pk %}">follow</a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>No results</p>
{% endif %}
{% endblock %}

