{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'userprofile:ProfileEdit' UserProfile.pk %}">edit profile</a></p>
<p><a href="{% url 'posts:CreatePost' %}">add post</a></p>
    {% if UserProfile.avatar %}
    <img src="{{ UserProfile.avatar.url }}">
    {% endif %}
    <h5>{{ UserProfile.nickname }}</h5>
    {% if UserProfile.bio %}
    <p>{{ UserProfile.bio }}</p>
    {% else %}
    <p>Not bio yet</p>
    {% endif %}
    <p>{{ UserProfile.birthday }}</p>
    <h2>Посты</h2>
    {% for post in UserProfile.user.posts.all %}
    {% if post.is_image %}
    <img src="{{ post.mediafile.url }}">
    {% endif %}
    {% if post.is_video %}
    <video autoplay controls width="640" height="360">
        <source src="{{ post.mediafile.url }}" type="video/mp4">
    </video>
    {% endif %}
    <p>{{ post.content }}</p>
    {% if post.link %}
    <p><a href="{{ post.link }}">клик</a></p>
    {% endif %}
    <p><a href="{% url 'posts:DeletePost' post.pk %}">delete post</a></p>
    {% empty %}
    <p>Постiв ще нема</p>
    {% endfor %}


{% endblock %}