<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'posts:ListPostView' %}">Posts</a>
            <a href="{% url 'chat:ChatList' %}">Chat</a>
            <a href="#">Groups</a>
            <a href="{% url 'userprofile:SearchFriends' %}">Search</a>
            {% if user.is_authenticated %}
                <a href="{% url 'userprofile:ProfileDetail' user.UserProfile.get.pk %}">Profile</a>
            <form method="post" action="{% url 'userprofile:UserLogout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'userprofile:UserLogin' %}">Login</a>
                <a href="{% url 'userprofile:UserReg' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
</body>
</html>