<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'posts:ListPostView' %}">posts</a>
            <a href="#">chat</a>
            <a href="#">groups</a>
            <a href="#">friends</a>
            {% if user.is_authenticated %}
                <a href="{% url 'userprofile:ProfileDetail' user.UserProfile.get.pk %}">Profile</a>
            <form method="post" action="{% url 'userprofile:UserLogout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
                <a href="{% url 'userprofile:UserLogin' %}">Login</a>
                <a href="{% url 'userprofile:UserReg' %}">register</a>
            {% endif %}
            <a href="{% url 'userprofile:SearchFriends' %}">search</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>