<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'posts:ListPostView' %}">posts</a>
            <a href="#">chat</a>
            <a href="#">groups</a>
            <a href="#">friends</a>
            <a href="{% url 'userprofile:ProfileDetail' 1 %}">Profile</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>